.title {

}

.role {
    
}


.awards {

}

p{ 
    color: black;
}

.title{
    color: black;
}

/* Committee */

.committee{
    color: black;
}

.chair{
    color: black;
}

.mems{
    color:black;
}

/* Events */

.event_categ{
    color: black;
}
