
.indv_page{
    padding-left: 100px;
    padding-right: 100px;
    padding bottom: 100 px;
    background-color: #e0e2fd;
}


.title {
    color: #0e0e4e
}


.role {
    color: black;
}


.awards {
    color: black;
}

p{ 
    color: black;
}

/* Committee */

.committee{
    color: black;
}

.chair{
    color: black;
}

.mems{
    color:black;
}

/* Events */

.event_categ{
    color: black;
}

