

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(185, 238, 255);
}

h1{
    color: #11114f;
}

h3{
    color: #00000c;
    type
}