<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{%endblock%}</title>
        <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div>
                <img class="logo" src="{{url_for('static', filename="up_variates_logo.png")}}" alt="logo" width="20px">
                UP Variates
            </div>
            
            <nav>
                <ul class="nav_links">
                    <li><a href="\executiveboard">Executive Board</a></li>
                    <li><a href="\committees">Committees</a></li>
                    <li><a href="\events">Events</a></li>
                    <li><a href="\achievements">Achievements</a></li>
                </ul>
            </nav>
        </header>



        <!-- <div>
            <h1>UP Variates</h1>
            <ul>
                <li><a href="\executiveboard">Executive Board</a></li>
                <li><a href="\committees">Committees</a></li>
                <li><a href="\events">Events</a></li>
                <li><a href="\achievements">Achievements</a></li>
            </ul>
        </div> -->

        {% block content %}{% endblock %}

        <div> 
            <h5>Contact Us</h5>
            <div>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </body>
</html>