<!doctype html>
<html>
    <head>
        <title>{% block title %}{%endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/up_variates_logo.png" type="image/icon type">
        <link rel="stylesheet" href="main.css">
        <!-- {% block head %}{% endblock %} -->
    </head>
    <body>
        <h1>UP Variates</h1>
        <ul>
            <li><a href="\executiveboard">Executive Board</a></li>
            <li><a href="\committees">Committees</a></li>
            <li><a href="\events">Events</a></li>
            <li><a href="\achievements">Achievements</a></li>
        </ul>


        <!-- <img src="{{ url_for("static", filename="upv_header.jpg")}}" alt="" width=100% > -->

        {% block content %}{% endblock %}

        <div> 
            <h5>Contact Us</h5>
            <div>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </body>
</html>