{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<br>
<br>
<h1 class="title">Events</h1>
<br>
{%for category in events %}
<h2 class="event_categ">{{category}}</h2>
{% for event in events[category] %}
<h3 class="event">{{event}}</h3>
<div style="display: flex; justify-content: center">
    <img class="evnt_img" src={{events[category][event]["img_file"]}} alt="" width=40%> 
</div>
<p class="event_desc">{{events[category][event]["desc"]}}</p>
{% endfor %}
<br>
{% endfor %}
<br>
{% endblock %}