{% extends 'base.html' %}

{% block title %}Executive Board{% endblock %}

{% block content %}
<br>
<br>
<h1 class = "title"> The Executive Board </h1>
<br>
<br>
{% for position in eb_list %}
<h3 class = "role">{{position}}</h3> 
<div style="display: flex; justify-content: center">
    <img src={{eb_list[position][1]}} alt="" width=25% > <br>
</div>

<div style="display: flex; justify-content: center">
    <i class="officer" style="font-size:20px;">{{eb_list[position][0]}}</i>
</div>

<br>
<br>
{% endfor %}
<br>
{% endblock %}