{% extends 'base.html' %}

{% block title %}UP Variates{% endblock %}

{% block content %}
<img src="{{ url_for("static", filename="upv_header.jpg")}}" alt="" width=100% >
<br> 
<br>
<h1 class = "title"> About the organization </h1>
    <p>
    University of the Philippines Variates is a duly recognized non-profit socio-academic organization based in the UP School of Statistics that aims to provide venues that will shape its members into well-rounded individuals with its social advocacies through and beyond Statistics.
    </p>
    <img src = "{{ url_for("static", filename="OrgPic1.JPG")}}" alt="" width=80% >

{% endblock %}


