{% extends 'base.html' %}

{% block title %}UP Variates{% endblock %}

<!-- {% block head %} 
{% endblock %} -->

{% block content %}
<img src="{{ url_for("static", filename="upv_header.jpg")}}" alt="" width=100% >
<h1>About the organization</h1>
    <p>
    University of the Philippines Variates is a duly recognized non-profit socio-academic organization based in the UP School of Statistics that aims to provide venues that will shape its members into well-rounded individuals with its social advocacies through and beyond Statistics.
    </p>
{% endblock %}


