
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 200px;
	margin-left:  200px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

h1{
    color: #11114f;

}   


h3{
    color: #00000c;
}

